doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap" rel="stylesheet">
        link(rel="stylesheet", href="css/style.css")
        title cuenta regresiva 
    body 
        main.main
            h1.title WE'RE LAUNCHING SOON
            .container
                #days-element.number-container 
                    .number-countdown 
                        .number-countdown__top-front 
                        .number-countdown__bottom
                    .number-flip-card
                        .number-flip-card-top
                        .number-flip-card-bottom
                    .number-container__text Days
                #hours-element.number-container 
                    .number-countdown 
                        .number-countdown__top-front 
                        .number-countdown__bottom
                    .number-flip-card
                        .number-flip-card-top
                        .number-flip-card-bottom
                    .number-container__text Hours
                #minutes-element.number-container 
                    .number-countdown 
                        .number-countdown__top-front 
                        .number-countdown__bottom
                    .number-flip-card
                        .number-flip-card-top
                        .number-flip-card-bottom
                    .number-container__text Minutes
                #seconds-element.number-container 
                    .number-countdown 
                        .number-countdown__top-front 
                        .number-countdown__bottom
                    .number-flip-card
                        .number-flip-card-top
                        .number-flip-card-bottom
                    .number-container__text Seconds
    footer.footer
        ul.footer__list-items 
            li.footer__item
                a(href="#") 
                    img(src="assets/images/icon-facebook.svg", alt="")
            li.footer__item
                a(href="#") 
                    img(src="assets/images/icon-pinterest.svg", alt="")
            li.footer__item
                a(href="#") 
                    img(src="assets/images/icon-instagram.svg", alt="")
    script(src="js/scripts.js") 
    
