:root{
    --Grayish-blue: hsl(237, 18%, 59%);
    --Soft-red: #f45f85;
    --Soft-red-alfa: #d15170 ;
    --White: hsl(0, 0%, 100%);
    --Dark-desaturated-blue-top: #2c2c44;
    --Dark-desaturated-blue-bottom: #34364f;
    --Dark-desaturated-blue: #34364f;
    --Very-dark-blue: rgb(30, 26, 41);
    --Very-dark-mostly-black-blue: hsl(234, 17%, 12%);

}
